In [93]:
import pandas as pd

In [94]:
df = pd.read_csv("../data/raw/stack-overflow-developer-survey-2024/survey_results_public.csv")
que = pd.read_csv("../data/raw/stack-overflow-developer-survey-2024/survey_results_schema.csv")

In [95]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Columns: 114 entries, ResponseId to JobSat
dtypes: float64(13), int64(1), object(100)
memory usage: 56.9+ MB
None

In [96]:
df['CompTotal'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 65437 entries, 0 to 65436
Series name: CompTotal
Non-Null Count  Dtype
--------------  -----
33740 non-null  float64
dtypes: float64(1)
memory usage: 511.4 KB

In [97]:
df.describe()

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,65437.000000,3.374000e+04,29658.000000,29324.000000,29393.000000,29411.000000,29450.000000,29448.00000,29456.000000,29456.000000,29450.000000,29445.000000,2.343500e+04,29126.000000
mean,32719.000000,2.963841e+145,11.466957,18.581094,7.522140,10.060857,24.343232,22.96522,20.278165,16.169432,10.955713,9.953948,8.615529e+04,6.935041
std,18890.179119,5.444117e+147,9.168709,25.966221,18.422661,21.833836,27.089360,27.01774,26.108110,24.845032,22.906263,21.775652,1.867570e+05,2.088259
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,16360.000000,6.000000e+04,4.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,32719.000000,1.100000e+05,9.000000,10.000000,0.000000,0.000000,20.000000,15.00000,10.000000,5.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,49078.000000,2.500000e+05,16.000000,22.000000,5.000000,10.000000,30.000000,30.00000,25.000000,20.000000,10.000000,10.000000,1.079715e+05,8.000000
max,65437.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

In [98]:
df.corr(numeric_only=True)

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
ResponseId,1.000000,-0.000000,0.011955,-0.002406,-0.015738,-0.014197,-0.001908,0.001843,-0.002968,0.001991,-0.005365,-0.005865,-0.008363,0.002425
CompTotal,-0.000000,0.000000,0.028766,-0.004891,-0.002719,-0.003033,-0.006311,-0.005893,-0.004585,-0.004494,-0.003198,-0.003045,0.080457,-0.015770
WorkExp,0.011955,0.028766,1.000000,-0.026490,-0.067241,-0.104525,-0.065352,-0.101461,-0.046958,-0.088090,-0.113707,-0.108279,0.154114,0.097322
JobSatPoints_1,-0.002406,-0.004891,-0.026490,1.000000,0.445710,0.633765,0.618618,0.603157,0.627385,0.597527,0.585087,0.607792,0.020306,0.094068
JobSatPoints_4,-0.015738,-0.002719,-0.067241,0.445710,1.000000,0.526254,0.449400,0.459253,0.438763,0.472516,0.499387,0.528395,0.018197,0.029677
JobSatPoints_5,-0.014197,-0.003033,-0.104525,0.633765,0.526254,1.000000,0.613933,0.607949,0.630353,0.619644,0.643538,0.690993,-0.023281,0.049224
JobSatPoints_6,-0.001908,-0.006311,-0.065352,0.618618,0.449400,0.613933,1.000000,0.692166,0.645094,0.632211,0.592528,0.604585,-0.008518,0.051341
JobSatPoints_7,0.001843,-0.005893,-0.101461,0.603157,0.459253,0.607949,0.692166,1.000000,0.698240,0.659558,0.642905,0.618444,-0.036431,0.038339
JobSatPoints_8,-0.002968,-0.004585,-0.046958,0.627385,0.438763,0.630353,0.645094,0.698240,1.000000,0.655668,0.617320,0.625185,-0.011080,0.058258
JobSatPoints_9,0.001991,-0.004494,-0.088090,0.597527,0.472516,0.619644,0.632211,0.659558,0.655668,1.000000,0.663628,0.650676,-0.015867,0.039173
JobSatPoints_10,-0.005365,-0.003198,-0.113707,0.585087,0.499387,0.643538,0.592528,0.642905,0.617320,0.663628,1.000000,0.737598,-0.022228,0.045063
JobSatPoints_11,-0.005865,-0.003045,-0.108279,0.607792,0.528395,0.690993,0.604585,0.618444,0.625185,0.650676,0.737598,1.000000,-0.010038,0.045093
ConvertedCompYearly,-0.008363,0.080457,0.154114,0.020306,0.018197,-0.023281,-0.008518,-0.036431,-0.011080,-0.015867,-0.022228,-0.010038,1.000000,0.048428
JobSat,0.002425,-0.015770,0.097322,0.094068,0.029677,0.049224,0.051341,0.038339,0.058258,0.039173,0.045063,0.045093,0.048428,1.000000

In [99]:
Total_responses = df.shape[0]
Total_features = df.shape[1]
print(Total_responses,Total_features)

65437 114

In [100]:
Total_questions = que.shape[0]
Total_questions

87

In [101]:
Salary_cnt = df['CompTotal'].dropna().count()
print(Salary_cnt ,"People disclosed their salary")

33740 People disclosed their salary

In [102]:
print("There are",df.duplicated().sum(),"duplicated records")

There are 0 duplicated records

In [103]:
salary_df = df[~(df['CompTotal'].isna())]
Total_res_sal = salary_df.shape[0]
Total_fea_sal = salary_df.shape[1]
salary_df.to_csv("../data/processed/salary_only.csv")

In [104]:
half_res = round(Total_responses / 2)
print(half_res)
cnt = 0
for i in df.columns:
    if(df[i].isna().sum() >= half_res):
        cnt+=1
        print(f"{Total_responses -df[i].isna().sum()}/{Total_responses}\t {i}\t")
print(cnt,"columns have more then half of data missing")

32718
31377/65437	 PlatformAdmired
22214/65437	 EmbeddedHaveWorkedWith
17600/65437	 EmbeddedWantToWorkWith
16733/65437	 EmbeddedAdmired
29596/65437	 MiscTechAdmired
30691/65437	 AIToolInterested in Using
24414/65437	 AIToolNot interested in Using
13438/65437	 AINextMuch more integrated
12498/65437	 AINextNo change
24428/65437	 AINextMore integrated
2355/65437	 AINextLess integrated
1148/65437	 AINextMuch less integrated
29801/65437	 ICorPM
29658/65437	 WorkExp
28664/65437	 Knowledge_1
28021/65437	 Knowledge_2
28095/65437	 Knowledge_3
28030/65437	 Knowledge_4
27880/65437	 Knowledge_5
27864/65437	 Knowledge_6
27778/65437	 Knowledge_7
27758/65437	 Knowledge_8
27635/65437	 Knowledge_9
28369/65437	 Frequency_1
28364/65437	 Frequency_2
27710/65437	 Frequency_3
28911/65437	 TimeSearching
28844/65437	 TimeAnswering
28251/65437	 Frustration
27764/65437	 ProfessionalTech
28491/65437	 ProfessionalCloud
28807/65437	 ProfessionalQuestion
28858/65437	 Industry
29324/65437	 JobSatPoints_1
29393/65437	 JobSatPoints_4
29411/65437	 JobSatPoints_5
29450/65437	 JobSatPoints_6
29448/65437	 JobSatPoints_7
29456/65437	 JobSatPoints_8
29456/65437	 JobSatPoints_9
29450/65437	 JobSatPoints_10
29445/65437	 JobSatPoints_11
23435/65437	 ConvertedCompYearly
29126/65437	 JobSat
44 columns have more then half of data missing

In [105]:
que['type'].value_counts().index

Index(['MC', 'Matrix', 'TE', 'Slider', 'CS'], dtype='object', name='type')

In [106]:
for col in df.columns:
    print(col,end=" ")

ResponseId MainBranch Age Employment RemoteWork Check CodingActivities EdLevel LearnCode LearnCodeOnline TechDoc YearsCode YearsCodePro DevType OrgSize PurchaseInfluence BuyNewTool BuildvsBuy TechEndorse Country Currency CompTotal LanguageHaveWorkedWith LanguageWantToWorkWith LanguageAdmired DatabaseHaveWorkedWith DatabaseWantToWorkWith DatabaseAdmired PlatformHaveWorkedWith PlatformWantToWorkWith PlatformAdmired WebframeHaveWorkedWith WebframeWantToWorkWith WebframeAdmired EmbeddedHaveWorkedWith EmbeddedWantToWorkWith EmbeddedAdmired MiscTechHaveWorkedWith MiscTechWantToWorkWith MiscTechAdmired ToolsTechHaveWorkedWith ToolsTechWantToWorkWith ToolsTechAdmired NEWCollabToolsHaveWorkedWith NEWCollabToolsWantToWorkWith NEWCollabToolsAdmired OpSysPersonal use OpSysProfessional use OfficeStackAsyncHaveWorkedWith OfficeStackAsyncWantToWorkWith OfficeStackAsyncAdmired OfficeStackSyncHaveWorkedWith OfficeStackSyncWantToWorkWith OfficeStackSyncAdmired AISearchDevHaveWorkedWith AISearchDevWantToWorkWith AISearchDevAdmired NEWSOSites SOVisitFreq SOAccount SOPartFreq SOHow SOComm AISelect AISent AIBen AIAcc AIComplex AIToolCurrently Using AIToolInterested in Using AIToolNot interested in Using AINextMuch more integrated AINextNo change AINextMore integrated AINextLess integrated AINextMuch less integrated AIThreat AIEthics AIChallenges TBranch ICorPM WorkExp Knowledge_1 Knowledge_2 Knowledge_3 Knowledge_4 Knowledge_5 Knowledge_6 Knowledge_7 Knowledge_8 Knowledge_9 Frequency_1 Frequency_2 Frequency_3 TimeSearching TimeAnswering Frustration ProfessionalTech ProfessionalCloud ProfessionalQuestion Industry JobSatPoints_1 JobSatPoints_4 JobSatPoints_5 JobSatPoints_6 JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10 JobSatPoints_11 SurveyLength SurveyEase ConvertedCompYearly JobSat

In [107]:
df['Employment'].sample()

2680    Student, full-time;Independent contractor, fre...
Name: Employment, dtype: object

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import FunctionTransformer
import pandas as pd

dumper = FunctionTransformer(
    func=lambda s: s.str.get_dummies(sep=";"),
    validate=False
)

col_trans = (
    ColumnTransformer(
        transformers=[
            ("empl_onehot", dumper, "Employment")
        ],
        remainder="passthrough"
    )
    .set_output(transform="pandas")
)

df_encoded = col_trans.fit_transform(df)

print(df_encoded.dtypes)
print(df_encoded.head())

empl_onehot__Employed, full-time                                     int64
empl_onehot__Employed, part-time                                     int64
empl_onehot__I prefer not to say                                     int64
empl_onehot__Independent contractor, freelancer, or self-employed    int64
empl_onehot__Not employed, and not looking for work                  int64
                                                                     ...
remainder__Not employed, and not looking for work                    int32
remainder__Not employed, but looking for work                        int32
remainder__Retired                                                   int32
remainder__Student, full-time                                        int32
remainder__Student, part-time                                        int32
Length: 131, dtype: object
   empl_onehot__Employed, full-time  empl_onehot__Employed, part-time  \
0                                 1                                 0
1                                 1                                 0
2                                 1                                 0
3                                 0                                 0
4                                 0                                 0

   empl_onehot__I prefer not to say  \
0                                 0
1                                 0
2                                 0
3                                 0
4                                 0

   empl_onehot__Independent contractor, freelancer, or self-employed  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   empl_onehot__Not employed, and not looking for work  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

   empl_onehot__Not employed, but looking for work  empl_onehot__Retired  \
0                                                0                     0
1                                                0                     0
2                                                0                     0
3                                                0                     0
4                                                0                     0

   empl_onehot__Student, full-time  empl_onehot__Student, part-time  \
0                                0                                0
1                                0                                0
2                                0                                0
3                                1                                0
4                                1                                0

   remainder__ResponseId  ... remainder__JobSat  \
0                      1  ...               NaN
1                      2  ...               NaN
2                      3  ...               NaN
3                      4  ...               NaN
4                      5  ...               NaN

  remainder__Employed, full-time remainder__Employed, part-time  \
0                              1                              0
1                              1                              0
2                              1                              0
3                              0                              0
4                              0                              0

  remainder__I prefer not to say  \
0                              0
1                              0
2                              0
3                              0
4                              0

  remainder__Independent contractor, freelancer, or self-employed  \
0                                                  0
1                                                  0
2                                                  0
3                                                  0
4                                                  0

  remainder__Not employed, and not looking for work  \
0                                                 0
1                                                 0
2                                                 0
3                                                 0
4                                                 0

  remainder__Not employed, but looking for work remainder__Retired  \
0                                             0                  0
1                                             0                  0
2                                             0                  0
3                                             0                  0
4                                             0                  0

  remainder__Student, full-time remainder__Student, part-time
0                             0                             0
1                             0                             0
2                             0                             0
3                             1                             0
4                             1                             0

[5 rows x 131 columns]

There are mutliple options for employemeent so let's clear it up a bit

In [162]:
from sklearn.preprocessing import MultiLabelBinarizer
ml = MultiLabelBinarizer()
temp = pd.DataFrame(ml.fit_transform(df['Employment'].str.split(";").to_list()),columns=ml.classes_)
df = pd.concat([df,temp],axis=1)

In [163]:
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSat,"Employed, full-time","Employed, part-time",I prefer not to say,"Independent contractor, freelancer, or self-employed","Not employed, and not looking for work","Not employed, but looking for work",Retired,"Student, full-time","Student, part-time"
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,1,0,0,0,0,0,0,0,0
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,1,0,0,0,0,0,0,0,0
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,1,0,0,0,0,0,0,0,0
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,0,0,0,0,0,0,0,1,0
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,0,0,0,0,0,0,0,1,0

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSat,"Employed, full-time","Employed, part-time",I prefer not to say,"Independent contractor, freelancer, or self-employed","Not employed, and not looking for work","Not employed, but looking for work",Retired,"Student, full-time","Student, part-time"
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,1,0,0,0,0,0,0,0,0
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,1,0,0,0,0,0,0,0,0
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,1,0,0,0,0,0,0,0,0
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,0,0,0,0,0,0,0,1,0
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65432,65433,I am a developer by profession,18-24 years old,"Employed, full-time",Remote,Apples,Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","On the job training;School (i.e., University, ...",NaN,...,NaN,1,0,0,0,0,0,0,0,0
65433,65434,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects,NaN,NaN,NaN,...,NaN,1,0,0,0,0,0,0,0,0
65434,65435,I am a developer by profession,25-34 years old,"Employed, full-time",In-person,Apples,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Social ...,...,NaN,1,0,0,0,0,0,0,0,0
65435,65436,I am a developer by profession,18-24 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Apples,Hobby;Contribute to open-source projects;Profe...,"Secondary school (e.g. American high school, G...",On the job training;Other online resources (e....,Technical documentation;Blogs;Written Tutorial...,...,NaN,1,0,0,0,0,0,0,0,0
65436,65437,I code primarily as a hobby,18-24 years old,"Student, full-time",NaN,Apples,NaN,NaN,NaN,NaN,...,NaN,0,0,0,0,0,0,0,1,0

In [111]:
ml.classes_

array(['Employed, full-time', 'Employed, part-time',
       'I prefer not to say',
       'Independent contractor, freelancer, or self-employed',
       'Not employed, and not looking for work',
       'Not employed, but looking for work', 'Retired',
       'Student, full-time', 'Student, part-time'], dtype=object)

In [112]:
columns = ['MainBranch','Age','Employment','RemoteWork','Employment']